Toast.Core/bin/Debug/netstandard2.1/Toast.Core.deps.json
Toast.Core/bin/Debug/netstandard2.1/Toast.Core.dll
Toast.Core/bin/Debug/netstandard2.1/Toast.Core.pdb
Toast.Core/Enums/DialogAlerts.cs
Toast.Core/obj/Toast.Core.csproj.nuget.dgspec.json
Toast.Core/obj/Toast.Core.csproj.nuget.g.props
Toast.Core/obj/Toast.Core.csproj.nuget.g.targets
Toast.Core/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.AssemblyInfo.cs
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.AssemblyInfoInputs.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.assets.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.csproj.CoreCompileInputs.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.csproj.FileListAbsolute.txt
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.dll
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.GeneratedMSBuildEditorConfig.editorconfig
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.pdb
Toast/bin/Debug/Toast.Core.dll
Toast/bin/Debug/Toast.Core.pdb
