Toast.Core/bin/Debug/netstandard2.1/Toast.Core.deps.json
Toast.Core/bin/Debug/netstandard2.1/Toast.Core.dll
Toast.Core/bin/Debug/netstandard2.1/Toast.Core.pdb
Toast.Core/Enums/DialogAlerts.cs
Toast.Core/obj/project.assets.json
Toast.Core/obj/project.nuget.cache
Toast.Core/obj/Toast.Core.csproj.nuget.dgspec.json
Toast.Core/obj/Toast.Core.csproj.nuget.g.props
Toast.Core/obj/Toast.Core.csproj.nuget.g.targets
Toast.Core/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.AssemblyInfo.cs
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.AssemblyInfoInputs.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.assets.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.csproj.AssemblyReference.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.csproj.CoreCompileInputs.cache
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.csproj.FileListAbsolute.txt
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.dll
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.GeneratedMSBuildEditorConfig.editorconfig
Toast.Core/obj/Debug/netstandard2.1/Toast.Core.pdb
Toast/bin/Debug/Toast.Core.dll
Toast/bin/Debug/Toast.Core.pdb
Toast/obj/Debug/resourcecache/designer-resources/P_7-0-uzotlr8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_8-0-qg03or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_9-0-0l13or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_a-0-ea33or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_b-0-8183or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_c-0-wqe3or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_d-0-qgf3or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_e-0-i3l3or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_f-0-u0m3or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_g-0-upm3or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_h-0-mg84or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_i-0-4cf4or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_j-0-k6e5or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/P_k-0-sby7or8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/S_3-0-gbsnwq8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/S_4-0-owj40r8i8f-14_891532bb9e0d24e1
Toast/obj/Debug/resourcecache/designer-resources/S_5-0-wiyz0r8i8f-14_891532bb9e0d24e1
